<ion-tabs>
  <ion-tab-bar slot="bottom" class="admin-tab-bar">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label size="xs">Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ganancias">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label size="xs">Ganancias</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="productos">
      <ion-icon name="bag-handle"></ion-icon>
      <ion-label size="xs">Productos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="alertas">
      <ion-icon name="notifications"></ion-icon>
      <ion-label size="xs">Alertas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>