<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="dashboard-page">
      <ion-icon name="home-sharp"></ion-icon> <!-- Ícono moderno para Inicio -->
      <ion-label size="xs">Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="compras">
      <ion-icon name="card-outline"></ion-icon> <!-- Ícono moderno para Compras -->
      <ion-label size="xs">Compras</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="productos">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label size="xs">Productos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="alertas">
      <ion-icon name="notifications-outline"></ion-icon> <!-- Ícono moderno para Alertas -->
      <ion-label size="xs">Alertas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>