/* Principal */
.alertas-content {
  --background: #34A853;
  --padding-bottom: 80px;
}

/* Encabezado */
ion-header {
  ion-toolbar {
    --background: transparent;
    --color: white;

    ion-title {
      font-weight: bold;
    }

    ion-note {
      font-size: 0.9rem;
      color: #e0e0e0;
    }
  }
}

/* Lista de alertas */
ion-list {
  background: transparent;
  padding: 0 16px;
  margin-bottom: 20px; /* Asegura espacio adicional en la parte inferior */
}

ion-list-header {
  --background: transparent;
  --color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 20px 0 10px;
}

.alert-item {
  --background: white;
  --border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  ion-icon {
    color: #f44336;
    font-size: 24px;
  }

  h3 {
    font-weight: 600;
    color: #333;
  }

  p {
    color: #666;
    font-size: 0.9rem;
  }
}

/* Inferior */
.tab-bar {
  --background: white;
  --color: #7f8c8d;
  --color-selected: #34A853;
  border-top: 1px solid #e0e0e0;

  ion-tab-button {
    &.active-tab {
      ion-icon, ion-label {
        color: var(--color-selected);
        font-weight: 500;
      }
    }
  }
}