<ion-content class="welcome-content" fullscreen="true">
  <div class="welcome-container">
    <!-- Parte inferior gris -->
    <div class="welcome-bottom">
      <!-- Texto "Welcome to Zamowash" y eslogan dentro del contenedor de botones -->
      <div class="welcome-text">
        <h1 class="welcome-title">WELCOME TO ZAMOWASH</h1>
        <p class="welcome-slogan">Your car, our care</p>
      </div>

      <!-- Botones de Sign In y Sign Up -->
      <div class="welcome-buttons">
        <ion-button expand="full" class="signin-button" (click)="goToLogin()">Sign In</ion-button>
        <ion-button expand="full" class="signup-button" (click)="goToRegistro()">Sign Up</ion-button>
      </div>

      <!-- Texto "Or connect using" -->
      <p class="connect-text">Or connect using</p>

      <!-- Iconos de redes sociales -->
      <div class="social-icons">
        <ion-button fill="clear" class="social-button">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="social-button">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="social-button">
          <ion-icon name="phone-portrait"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>